<% include partials/header.ejs %>

<style>
	.jumbotron{
		margin: 32px;
		padding: 10px;
	}
	.bg{
		padding: 7px;
	}
	.bg1{
		background-color: white;
	}
	.bg1:hover{
		color: white;
		background-color: #20385A;
	}
</style>

<div class="container" style="color: #33475B; padding: 0px;">
	
	<div class="jumbotron">
		<div class="row bg1" style="margin: 80px auto;">
			<div class="col-md-5 bg" >
				<h2 style="text-align:center; padding-top: 40px;">Our Story</h2>
				<p style="font-size:1.2em; padding:25px 15px;">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed sollicitudin urna. One where what's good for the bottom line is also good for customers. We believe businesses can 						grow with a conscience, and succeed with a soul — and that they can do it with inbound. That's why we've businesses grow better every day.
				</p>
			</div>
			<div class="col-md-7 bg">
				<img src="https://images.unsplash.com/photo-1560185893-a55cbc8c57e8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80" style="height:100%; width:100%;">
				<!--https://specials-images.forbesimg.com/imageserve/5cdb058a5218470008b0b00f/1920x0.jpg?fit=scale-->
			</div>
		</div>
	</div>
	
	<div class="jumbotron">
		<div class="row bg1" style="margin: 80px auto;">
			<div class="col-md-7 bg">
				<img src="https://images.unsplash.com/photo-1600121848594-d8644e57abab?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" style="height:100%; width:100%;">
			</div>
			<div class="col-md-5 bg">
				<h2 style="text-align:center; padding-top: 40px;">Our Mission</h2>
				<p style="font-size:1.2em; padding:35px 20px;">
					Sed aliquet consequat orci, non tincidunt lacus scelerisque sit amet. Praesent nec feugiat lectus. Donec nisi ex, mattis quis neque vitae, sodales pretium est.Phasellus a suscipit augue, consectetur tincidunt lectus. Sed pretium,
				</p>
			</div>
		</div>
	</div>
	
	<div class="jumbotron">
		<div class="row bg1" style="margin: 80px auto;">
			<div class="col-md-5 bg" >
				<h2 style="text-align:center; padding-top: 40px;">Our Platform</h2>
				<p style="font-size:1.2em; padding:25px 15px;">
					Nullam et aliquet velit. Ut ac iaculis massa, non sollicitudin nisi. Praesent consequat pretium leo non viverra. Ut erat sapien, commodo ut eros quis, tincidunt venenatis felis. Aliquam sit amet interdum nibh. Ut id neque sed tellus varius iaculis. Orci varius natoque penatibus et				</p>
			</div>
			<div class="col-md-7 bg">
				<img src="https://images.unsplash.com/photo-1613490493576-7fde63acd811?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1051&q=80" style="height:100%; width:100%;">
			</div>
		</div>
	</div>
	
</div>

<% include partials/footer.ejs %>